<div class="container-fluid pages-rule">
  <div class="row justify-content-center h2">
    <h2>Car search list</h2>
  </div>
  <div class="container cont-pages">
    <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="container">
        <div class="col-md-12">
          <form [formGroup]="searchForm" (submit)="onSearch()">
            <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="form-group">
                <label>Make</label>
                <select formControlName="makeC" class="form-control">
                  <option value="" disabled selected hidden>Make</option>
                  <option value="">All</option>
                  <option value="BMW">BMW</option>
                  <option value="standard_40">Standard 40</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Model</label>
                <input type="text" formControlName="modelC" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Year</label>
                <select formControlName="yearC" class="form-control">
                  <option value="" disabled selected hidden>Year</option>
                  <option value="0">All</option>
                  <option *ngFor="let year of years" value="{{year}}">
                    {{year}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" *ngIf="!isLoading" class="btn btn-dark">Search</button>
            </div>
          </div>
          </form> 
        </div>
        <div class="row justify-content-center">
          <mat-expansion-panel *ngFor="let car of cars">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{car.make + "&nbsp;" + car.model}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Make: {{car.make}}</p>
            <p>Model: {{car.model}}</p>
            <p>Year: {{car.year}}</p>
            <div class="row justify-content-center h2" *ngIf="userIsAuthenticated">
              <button mat-button color="warn" (click)="onDelete(car.id)">DELETE</button>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
      <mat-paginator [length]="totalCars" [pageSize]="carsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
        *ngIf="cars.length > 0">
      </mat-paginator>
    </mat-card>
  </div>
</div>
